@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<hotels.Areas.Admin.Models.tblDatDV>

<div id="service-container">
    <div class="tw-overflow-hidden tw-rounded-xl tw-border tw-border-solid tw-border-neutral-100/80">
        <table class="tw-min-w-full">
            <thead class="tw-text-neutral-800 tw-text-xs tw-text-left tw-border-b tw-border-solid tw-border-neutral-100/80">
                <tr class="tw-bg-neutral-50 tw-text-center">
                    <th class="tw-py-3 tw-px-4">#</th>
                    <th class="tw-py-3 tw-px-4">Booking ID</th>
                    <th class="tw-py-3 tw-px-4">Dịch vụ</th>
                    <th class="tw-py-3 tw-px-4">Ngày sử dụng</th>
                    <th class="tw-py-3 tw-px-4">Giờ sử dụng</th>
                    <th class="tw-py-3 tw-px-4">Số lượng</th>
                    <th class="tw-py-3 tw-px-4">Đơn giá</th>
                    <th class="tw-py-3 tw-px-4">Thành tiền</th>
                    <th class="tw-py-3 tw-px-4">Trạng thái</th>
                    <th class="tw-py-3 tw-px-4">Hoạt Động</th>
                </tr>
            </thead>
            <tbody class="tw-text-xs tw-text-neutral-800 tw-text-center">
                @foreach (var item in Model.Select((d, index) => new { d, index }))
                {
                    <tr class="tw-border-t tw-border-solid tw-border-neutral-100/80">
                        <td class="tw-px-4 tw-py-3">@((Model.PageNumber - 1) * Model.PageSize + item.index + 1)</td>
                        <td class="tw-px-4 tw-py-3">S-@item.d.IDDatDichVu</td>
                        <td class="tw-px-4 tw-py-3">@item.d.DichVu?.DichVu</td>
                        <td class="tw-px-5 tw-py-3">@item.d.NgaySuDung.ToString("dd/MM/yyyy")</td>
                        <td class="tw-px-5 tw-py-3">
                            @((item.d.GioSuDung.HasValue) ? item.d.GioSuDung.Value.ToString(@"hh\:mm") : "-")
                        </td>
                        <td class="tw-px-4 tw-py-3">@item.d.SoLuong</td>
                        <td class="tw-px-4 tw-py-3">@item.d.DichVu?.GiaDichVu.ToString("N0") đ</td>
                        <td class="tw-px-4 tw-py-3">@item.d.ThanhTien.ToString("N0") đ</td>
                        <td class="tw-px-4 tw-py-3 text-center">
                            @switch (item.d.TrangThai)
                            {
                                case 0:
                                    <span class="tw-px-2 tw-py-1 tw-text-xs tw-rounded-md tw-font-medium tw-bg-orange-100 tw-text-orange-400">
                                        Chờ xác nhân
                                    </span>
                                    break;
                                case 1:
                                    <span class="tw-px-2.5 tw-py-1.5 tw-text-xs tw-rounded-md tw-font-medium tw-bg-green-100 tw-text-green-400">
                                        Đã xác nhận
                                    </span>
                                    break;
                                case 2:
                                    <span class="tw-px-2 tw-py-1 tw-text-xs tw-rounded-md tw-font-medium tw-bg-gray-100 tw-text-gray-400">
                                        Đã thanh toán
                                    </span>
                                    break;
                                case 3:
                                    <span class="tw-px-2 tw-py-1 tw-text-xs tw-rounded-md tw-font-medium tw-bg-blue-100 tw-text-blue-400">
                                        Hủy
                                    </span>
                                    break;
                            }
                        </td>
                        <td class="tw-px-4 tw-py-3">
                            <div class="dropdown">
                                <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <i class="bx bx-dots-vertical-rounded"></i>
                                </button>
                                <div class="dropdown-menu !tw-text-xs">
                                    @if (item.d.TrangThai == 0 || item.d.TrangThai == 1)
                                    {
                                        <form method="post" asp-area="Admin" asp-controller="BookingServices" asp-action="Confirm">
                                            <input type="hidden" name="id" value="@item.d.IDDatDichVu" />
                                            <input type="hidden" name="trangThaiMoi" value="@item.d.TrangThai" />
                                            <button type="submit" class="dropdown-item edit-btn">
                                                @if (item.d.TrangThai == 0)
                                                {
                                                    <i data-lucide="file-check-2" class="bx bx-edit-alt tw-w-4 tw-h-4 me-2"></i>
                                                    <span>Xác nhận</span>
                                                }
                                                else if (item.d.TrangThai == 1)
                                                {
                                                    <i data-lucide="file-minus-2" class="bx bx-edit-alt tw-w-4 tw-h-4 me-2"></i>
                                                    <span>Hủy</span>
                                                }
                                            </button>
                                        </form>
                                    }
                                    <button class="dropdown-item view-btn"
                                            data-bs-toggle="modal"
                                            data-bs-target="#serviceDetailModal"
                                            data-id="@item.d.IDDichVu"
                                            data-name="@item.d.DichVu?.DichVu"
                                            data-loaidichvu="@item.d.DichVu?.LoaiDichVu?.LoaiDichVu"
                                            data-gia="@item.d.DichVu?.GiaDichVu"
                                            data-giauudai="@item.d.DichVu?.GiaUuDai"
                                            data-thoiluong="@item.d.DichVu?.ThoiLuong"
                                            data-dacdiem="@item.d.DichVu?.DacDiem"
                                            data-trangthai="@item.d.TrangThai"
                                            data-mota="@item.d.DichVu?.MoTa"
                                            data-image="/assets/img/services/@item.d.DichVu?.LoaiDichVu?.LoaiDichVu/@item.d.DichVu?.Image"
                                            data-ghichu="@item.d.GhiChu">
                                        <i class="bx bx-show me-2"></i> Chi tiết
                                    </button>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @await Html.PartialAsync(partialViewName: "Details")
    </div>

    <!-- Pagination -->
    <div class="tw-flex tw-justify-center tw-items-center tw-gap-1.5 tw-mt-4 tw-text-xs">
        <button id="prevPage" class="tw-pr-2 tw-py-1 tw-cursor-pointer @(Model.PageNumber == 1 ? "tw-opacity-30" : "")" 
                data-page="@(Model.PageNumber - 1)">
            <i data-lucide="chevron-left" class="tw-w-4 tw-h-4"></i>
        </button>

        <div id="pagination" class="tw-flex tw-gap-1">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <button class="tw-w-8 tw-h-8 tw-cursor-pointer @(i == Model.PageNumber ? 
                "tw-text-gray-600 tw-bg-gray-200/60 tw-rounded" : "tw-text-gray-600 tw-hover:bg-gray-200/60 tw-hover:rounded")" 
                        data-page="@i">@i</button>
            }
        </div>

        <button id="nextPage" class="tw-pl-2 tw-py-1 tw-cursor-pointer @(Model.PageNumber == Model.PageCount ? "tw-opacity-30" : "")" 
                data-page="@(Model.PageNumber + 1)">
            <i data-lucide="chevron-right" class="tw-w-4 tw-h-4"></i>
        </button>
    </div>
</div>