@using X.PagedList.Mvc.Core
@using X.PagedList
@model IPagedList<hotels.Areas.Admin.Models.tblDichVu>

<div id="service-container">
    <div class="tw-overflow-hidden tw-rounded-xl tw-border tw-border-solid tw-border-neutral-100/80">
        @if (ViewBag.Message != null)
        {
            <div class="tw-text-center tw-text-sm tw-text-neutral-500 tw-py-6">
                @ViewBag.Message
            </div>
        }
        else
        {
            <table class="tw-min-w-full">
                <thead class="tw-text-neutral-800 tw-text-xs tw-text-left tw-border-b tw-border-solid tw-border-neutral-100/80">
                    <tr class="tw-bg-neutral-50 tw-text-center">
                        <th class="tw-px-4 tw-py-3">#</th>
                        <th class="tw-px-4 tw-py-3">Ảnh</th>
                        <th class="tw-px-4 tw-py-3">Tên dịch vụ</th>
                        <th class="tw-px-4 tw-py-3">Loại dịch vụ</th>
                        <th class="tw-px-4 tw-py-3">Giá (VNĐ)</th>
                        <th class="tw-px-4 tw-py-3">Giá ưu đãi</th>
                        <th class="tw-px-4 tw-py-3">Trạng thái</th>
                        <th class="tw-px-4 tw-py-3">Chức năng</th>
                    </tr>
                </thead>

                <tbody class="tw-text-xs tw-text-neutral-800 tw-text-center">
                    @foreach (var item in Model.Select((dv, index) => new { dv, index }))
                    {
                        <tr class="tw-border-t tw-border-solid tw-border-neutral-100/80 hover:tw-bg-gray-50/40">
                            <td class="tw-px-4 tw-py-3">@((Model.PageNumber - 1) * Model.PageSize + item.index + 1)</td>
                            <td class="tw-px-4 tw-py-3 tw-font-medium tw-flex tw-justify-center tw-items-center">
                                <img src="~/assets/img/Services/@item.dv.LoaiDichVu?.LoaiDichVu/@item.dv.Image" 
                                    alt="@item.dv.DichVu" 
                                    class="tw-w-28 tw-h-28 tw-object-cover tw-rounded-lg tw-transition tw-transform hover:tw-scale-110" />
                            </td>
                            <td class="tw-px-4 tw-py-3 tw-font-medium">@item.dv.DichVu</td>
                            <td class="tw-px-4 tw-py-3">@item.dv.LoaiDichVu?.LoaiDichVu</td>
                            <td class="tw-px-4 tw-py-3">@String.Format("{0:N0}", item.dv.GiaDichVu)</td>
                            <td class="tw-px-4 tw-py-3">
                                @if (item.dv.GiaUuDai != null && item.dv.GiaUuDai > 0)
                                {
                                    <span class="tw-text-emerald-600">@String.Format("{0:N0}", item.dv.GiaUuDai)</span>
                                }
                                else
                                {
                                    <span class="tw-text-gray-400">Không</span>
                                }
                            </td>

                            <td class="tw-px-4 tw-py-3">
                                @if (item.dv.TrangThai == 0)
                                {
                                    <span class="tw-px-2.5 tw-py-1.5 tw-text-xs tw-rounded-lg tw-font-medium tw-bg-green-100 tw-text-green-500">
                                        Còn hoạt động
                                    </span>
                                }
                                else
                                {
                                    <span class="tw-px-2 tw-py-1 tw-text-xs tw-rounded-lg tw-font-medium tw-bg-red-100 tw-text-red-500">
                                        Ngừng hoạt động
                                    </span>
                                }
                            </td>

                            <td class="tw-px-4 tw-py-3">
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu !tw-text-xs">
                                        <button class="dropdown-item view-btn"
                                                data-bs-toggle="modal"
                                                data-bs-target="#editModal"
                                                data-id="@item.dv.IDDichVu"
                                                data-name="@item.dv.DichVu"
                                                data-loaidv="@item.dv.IDLoaiDichVu"
                                                data-gia="@item.dv.GiaDichVu"
                                                data-giauudai="@item.dv.GiaUuDai"
                                                data-trangthai="@item.dv.TrangThai"
                                                data-mota="@item.dv.MoTa"
                                                data-thoiluong="@item.dv.ThoiLuong"
                                                data-dacdiem="@item.dv.DacDiem"
                                                data-image="@item.dv.Image">
                                            <i class="bx bx-edit-alt me-2"></i> Sửa
                                        </button>

                                        <button class="dropdown-item delete-btn"
                                                data-id="@item.dv.IDDichVu"
                                                data-bs-toggle="modal"
                                                data-bs-target="#deleteModal">
                                            <i class="bx bx-trash me-2"></i> Xóa
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            @await Html.PartialAsync(partialViewName: "Create")
           @await Html.PartialAsync(partialViewName: "Edit")
            @await Html.PartialAsync(partialViewName: "Delete")
        }
    </div>

    <!-- Pagination -->
    <div class="tw-flex tw-justify-center tw-items-center tw-gap-1.5 tw-mt-4 tw-text-xs">
        <button id="prevPage" class="tw-pr-2 tw-py-1 tw-cursor-pointer @(Model.PageNumber == 1 ? "tw-opacity-30" : "")"
            data-page="@(Model.PageNumber - 1)">
            <i data-lucide="chevron-left" class="tw-w-4 tw-h-4"></i>
        </button>

        <div id="pagination" class="tw-flex tw-gap-1">
            @for (int i = 1; i <= Model.PageCount; i++)
            {
                <button
                    class="tw-w-8 tw-h-8 tw-cursor-pointer @(i == Model.PageNumber ? "tw-text-gray-600 tw-bg-gray-200/60 tw-rounded" : "tw-text-gray-600 tw-hover:bg-gray-200/60 tw-hover:rounded")"
                    data-page="@i">
                    @i
                </button>
            }
        </div>

        <button id="nextPage"
            class="tw-pl-2 tw-py-1 tw-cursor-pointer @(Model.PageNumber == Model.PageCount ? "tw-opacity-30" : "")"
            data-page="@(Model.PageNumber + 1)">
            <i data-lucide="chevron-right" class="tw-w-4 tw-h-4"></i>
        </button>
    </div>
</div>
